body {
    font-family: Arial, sans-serif;
    background-color: #e6e6fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #f8f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
h2 {
    color: #6a5acd;
}
p{
    font-size: smaller;
}
.input-field {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #8472a9;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #7655d9;
}
.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #4b0082;
}
